*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    padding: 20px;
    border: 10px solid green;
    background-color: rgb(178, 229, 178);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header , .footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 10px solid blue;
    background-color: rgb(134, 183, 248);
}

.box {
    display: flex;
    padding: 10px;
    border: 10px solid orange;
    background-color: rgb(233, 206, 157);
    width: 32%;
    justify-content: center;
}

.subox{
    padding: 20px;
    border: 10px solid red;
    width: 100vw;
}

.main{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 40vh;
    width: 64vw;
}

.A{
    background-color: rgb(197, 156, 156);
    border: 10px solid red;
    height: 100%;
    width: 75%;
}

.B{
    background-color: rgb(197, 156, 156);
    border: 10px solid red;
    height: 45%;
    width: 74%;
    margin-left: 13px;
}

.C{
    background-color: rgb(197, 156, 156);
    border: 10px solid red;
    height: 50%;
    width: 74%;
    margin-left: 13px;
}

.D{
    
    padding: 20px;
    border: 10px solid violet;
    background-color: rgb(234, 183, 234);
    width: 30%;
    justify-content: center;
}

.E{
    padding: 40px;
    border: 10px solid orange;
    background-color: rgb(233, 206, 157);
    width: 19%;
    justify-content: center;
}

.F{
    padding: 40px;
    border: 10px solid orange;
    background-color: rgb(233, 206, 157);
    width: 19%;
    justify-content: center;
}

.G{
    padding: 40px;
    border: 10px solid violet;
    background-color: rgb(234, 183, 234);
    width: 30%;
    justify-content: center;
}

